extends layout

block scripts
  scripts(src='/javascripts/script.js')
block content
  h1= 'OKC Thunder feed'
  each post in data
    ul
      li=post["title"]
      ul
        each val, index in post
          - let field = index
          unless field==='title'
            if field=='url' || field=='permalink'
              li #{index}: 
                a(target='_blank' href=''+val) #{val}
            else
              li= index + ': ' + val